.wrapper {
  display: flex;
  align-items: flex-end;
  margin: auto;
  padding: 4rem 1.5rem 1rem;
}

.button {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 48px;
  background-color: var(--gray-3);
  transition: all 0.15s ease;
  margin: 0 2rem 9rem;
}

.button:hover {
  background-color: var(--gray-4);
}

.button:disabled {
  pointer-events: none;
}

.button svg {
  display: block;
  width: 20px;
  height: 20px;
}
