.wrapper {
  display: flex;
  align-items: flex-end;
  margin: auto;
  padding: 1rem;
}

.button {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  background-color: var(--gray-3);
  transition: all 0.15s ease;
  margin-bottom: 6rem;
}

.button:hover {
  background-color: var(--gray-4);
}

.button:disabled {
  pointer-events: none;
}

.button:first-child {
  margin-right: 1.25rem;
}

.button:last-child {
  margin-left: 1.25rem;
}

.button svg {
  display: block;
  width: 20px;
  height: 20px;
}
