.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid var(--gray-3);
}

@media screen and (min-width: 768px) {
  .header {
    padding-inline: 1.5rem;
  }
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.header-logo svg {
  flex-shrink: 0;
}

.header-logo h1 {
  font-weight: 600;
  font-size: 1rem;
  display: block;
}

.totalWidth {
  color: var(--gray-8);
  font-size: 0.875rem;
}

.scroll-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
}

@media screen and (min-width: 768px) {
  .scroll-container {
    padding: 1.5rem;
  }
}

.container {
  display: flex;
  align-items: flex-end;
  margin: auto;
  padding-inline: 0.25rem;
}

.add-bookcase {
  align-self: center;
  background-color: transparent;
  color: var(--gray-7);
  padding: 0.25rem;
  margin: 0.5rem;
  transition: all 0.15s ease;
  border-radius: 100px;
}

.add-bookcase:first-of-type {
  margin-right: 2rem;
}

.add-bookcase:last-of-type {
  margin-left: 2rem;
}

.add-bookcase:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.add-bookcase:hover {
  color: #fff;
  background-color: var(--wood);
  box-shadow: 0 0 0 0.25rem var(--wood);
}

.add-bookcase svg {
  display: block;
}
