.bookcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin: 0 -4px;
}

.bookcase-ladder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 0.5rem solid var(--wood);
  border-right: 0.5rem solid var(--wood);
  width: 13rem;
  height: 100%;
}

.bookcase-shelf {
  border-top: 0.25rem solid var(--wood);
  height: 1.25vh;
}

.bookcase-shelf--hidden {
  pointer-events: none;
  opacity: 0;
}

.bookcase-shelf--last {
  height: 0.25rem;
  opacity: 0;
  pointer-events: none;
}

.bookcase-holes {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 6px;
  font-size: 0.875rem;
  color: var(--gray-8);
  position: relative;
  z-index: 1;
}

.bookcase-holes button {
  appearance: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transition: all 0.15s ease;
}

.bookcase-holes button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.bookcase-holes button:hover {
  color: var(--gray-12);
}

.bookcase-holes button {
  appearance: none;
}

.bookcase-footer {
  display: grid;
  grid-template-columns: 5.5rem 5.5rem;
  gap: 0.5rem;
  width: 100%;
  padding: 0 0.75rem;
}

.bookcase-footer label {
  color: var(--gray-8);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-grow: 1;
  font-size: 0.875rem;
}

.bookcase-delete {
  cursor: pointer;
  color: var(--gray-7);
  padding: 0.125rem;
  transition: all 0.15s ease;
}

.bookcase-delete:hover {
  color: tomato;
}

.stepper,
.select {
  font: inherit;
  font-size: 0.875rem;
  color: var(--gray-12);
  background-color: var(--gray-1);
  border: none;
  box-shadow: inset 0 0 0 1px var(--gray-4);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  height: 2rem;
  width: 100%;
  transition: all 0.15s ease;
}

.stepper:hover,
.select:hover {
  box-shadow: inset 0 0 0 1px var(--gray-5);
}

.stepper {
  position: relative;
  padding: 0;
}

.stepper input {
  position: absolute;
  inset: 0;
  width: 100%;
  appearance: none;
  background: transparent;
  font: inherit;
  text-align: center;
  border-radius: 0.25rem;
}

.stepper input::-webkit-outer-spin-button,
.stepper input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.stepper svg {
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  padding: 0.625rem;
  z-index: 1;
}

.stepper svg:last-child {
  right: 0;
}
