.bookcase {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  margin: 0 -4px;
}

.bookcase-ladder {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 8px solid var(--wood);
  border-right: 8px solid var(--wood);
  width: 200px;
  height: 100%;
}

.bookcase-shelf {
  border-top: 4px solid var(--wood);
  height: 12px;
}

.bookcase-shelf--hidden {
  pointer-events: none;
  opacity: 0;
}

.bookcase-shelf--last {
  height: 4px;
  opacity: 0;
  pointer-events: none;
}

.bookcase-holes {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 6px;
  font-size: 0.875rem;
  color: var(--gray-8);
  position: relative;
  z-index: 1;
}

.bookcase-holes button {
  appearance: none;
  background-color: transparent;
  width: 20px;
  height: 20px;
  transition: all 0.15s ease;
}

.bookcase-holes button:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.bookcase-holes button:hover {
  color: var(--gray-12);
}

.bookcase-holes button {
  appearance: none;
}

.bookcase-footer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;
  padding: 0 1rem;
}

.bookcase-footer label {
  color: var(--gray-8);
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex-grow: 1;
  font-size: 0.875rem;
}

.bookcase-footer input,
.bookcase-footer select {
  font: inherit;
  font-size: 0.875rem;
  color: var(--gray-12);
  background-color: var(--gray-1);
  border: 1px solid var(--gray-4);
  padding: 0 0.5rem;
  border-radius: 0.25rem;
  height: 2rem;
  width: 100%;
}

.bookcase-delete {
  cursor: pointer;
  color: var(--gray-7);
  padding: 2px;
  transition: all 0.15s ease;
}

.bookcase-delete:hover {
  color: tomato;
}
